/* html { font-family: sans-serif; padding: 1rem; } */
/* body {
  background-image: url("static/bg.jpg");
  background-color: #fff;
} */
/* body.forms { max-width: 960px; margin: 0 auto; background: white; } */
.container { max-width: 960px; margin: 0 auto; background: rgba(255,255,255, 0.8); padding: 30px;}
#wrapper {
  display: flex;
  overflow: auto;
  padding: 10px;
  background: white;
  border-style: solid;
}

#wrapper > div {
  flex-grow: 1;
}

#urls {
  width: 20%;
  font-size: small;
}

#outline-container {
  overflow-x: auto;
}

#base-url {
  overflow-x: auto;
  white-space: nowrap;
}

.golds { display: none; }

#content {
  height: 650px;
  padding: 10px;
  overflow: auto;
}

#content>h1 {
  font-size: 2.5rem;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}
.link {
  stroke: #999;
  stroke-opacity: .6;
}

#loading {
  border: 16px solid #fff;
  border-radius: 50%;
  border-top: 16px solid #177dff;
  border-bottom: 16px solid #177dff;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
