<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web Extractor</title>
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>

    <link rel="icon" href="{{ url_for('static', filename='python.ico') }}">
    <!-- Fonts and icons -->
	<script src="static/assets/js/plugin/webfont/webfont.min.js"></script>
	<script>
		WebFont.load({
			google: {"families":["Montserrat:100,200,300,400,500,600,700,800,900"]},
			custom: {"families":["Flaticon", "LineAwesome"], urls: ['static/assets/css/fonts.css']},
			active: function() {
				sessionStorage.fonts = true;
			}
		});
	</script>

	<!-- CSS Files for ready template-->
	<link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/ready.min.css">

    <!-- CSS Files for tree js-->
    <link rel="stylesheet" href="static/dist/themes/default/style.min.css" />

    <!-- Custom CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

</head>
<body data-background-color="bg3">
    <nav class="navbar navbar-expand-lg bg-primary">
        <a class="navbar-brand" href="/index">WCE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item{% block homeNav %}{% endblock %}">
                    <a class="nav-link" href="/index">Home {% block homeNavCurrent %}{% endblock %}</a>
                </li>
                <li class="nav-item{% block crawlNav %}{% endblock %}">
                    <a class="nav-link" href="/crawl">Crawl and Visualize{% block crawlNavCurrent %}{% endblock %}</a>
                </li>
                <li class="nav-item{% block extractNav %}{% endblock %}">
                    <a class="nav-link" href="/extract">Extract{% block extractNavCurrent %}{% endblock %}</a>
                </li>
                <li class="nav-item{% block LoadNav %}{% endblock %}">
                    <a class="nav-link" href="/load">Load{% block LoadNavCurrent %}{% endblock %}</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block htmlbody %}{% endblock %}
    <!--   Core JS Files   -->
<script src="static/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="static/assets/js/core/popper.min.js"></script>
<script src="static/assets/js/core/bootstrap.min.js"></script>

<!-- jQuery UI -->
<script src="static/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="static/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

<!-- jQuery Scrollbar -->
<script src="static/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

<!-- Moment JS -->
<script src="static/assets/js/plugin/moment/moment.min.js"></script>

<!-- Datatables -->
<script src="static/assets/js/plugin/datatables/datatables.min.js"></script>

<!-- Bootstrap Notify -->
<script src="static/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

<!-- Bootstrap Toggle -->
<script src="static/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>


<!-- Dropzone -->
<script src="static/assets/js/plugin/dropzone/dropzone.min.js"></script>


<!-- Bootstrap Wizard -->
<script src="static/assets/js/plugin/bootstrap-wizard/bootstrapwizard.js"></script>

<!-- jQuery Validation -->
<script src="static/assets/js/plugin/jquery.validate/jquery.validate.min.js"></script>

<!-- Select2 -->
<script src="static/assets/js/plugin/select2/select2.full.min.js"></script>

<!-- Sweet Alert -->
<script src="static/assets/js/plugin/sweetalert/sweetalert.min.js"></script>
{% block customscript %}{% endblock %}
</body>
</html>
