{% extends 'base.html' %}

{% block htmlbody %}
<div class="col-md-12 ml-auto mr-auto">
    <div class="row" style="height: 50px"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card card-stats card-primary card-round">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <div class="icon-big text-center">
                                    <i class="flaticon-internet"></i>
                                </div>
                            </div>
                            <div class="col-9 col-stats">
                                <div class="numbers" id="base-url">
                                    <p class="card-category">Base URL</p>
                                    <h4 class="card-title">{{ url }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card card-stats card-info card-round">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="flaticon-network"></i>
                                </div>
                            </div>
                            <div class="col-7 col-stats">
                                <div class="numbers">
                                    <p class="card-category">Depth</p>
                                    <h4 class="card-title">{{ depth }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card card-stats card-success card-round">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="flaticon-web-1"></i>
                                </div>
                            </div>
                            <div class="col-7 col-stats">
                                <div class="numbers">
                                    <p class="card-category">Total Pages</p>
                                    <h4 class="card-title">{{ total }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="card card-round">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title">Outline</div>
                            <div class="card-tools">
                                <a target="_blank" href="static/nodes-{{ sid }}.json" class="btn btn-info btn-border btn-round btn-sm mr-2" download>
                                    <span class="btn-label">
                                        <i class="la la-cloud-download"></i>
                                    </span>
                                    Download Outline
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container" id="outline-container">
                            <div id="js_tree">
                                <ul>
                                    {% for url in urls %}
                                    <li id="{{ loop.index }}">{{ loop.index }}. {{ url }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="card card-round">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title">Web Visualization</div>
                            <div class="card-tools">
                                <a target="_blank" href="static/results-{{ sid }}.wce" class="btn btn-info btn-round btn-sm mr-2" download>
                                    <span class="btn-label">
                                        <i class="la la-save"></i>
                                    </span>
                                    Save Full Results
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container" id="graph-container">
                            <svg id="graph">
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block customscript %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="static/dist/jstree.min.js"></script>
<script>
    nodes_data = {{ nodes_data|safe }}
</script>
<script src="{{ url_for('static', filename='graph.js') }}"></script>
<script>
    tree_data = {{ tree_data|safe }}
    $('#js_tree').jstree({ 'core' : {
    'data' : tree_data
    } });
</script>
{% endblock %}
