{% extends 'base.html' %}

{% block crawlNav %} active{% endblock %}
{% block crawlNavCurrent %}<span class="sr-only">(current)</span>{% endblock %}
{% block htmlbody %}
<div class="col-sm-12 col-lg-6 ml-auto mr-auto card">
  <div class="card-header">
    <h1>Web Crawler</h1>
    <p>Welcome to Web Content Extractor.</p>
    <p>This webtool enable you to automate the process of crawling the internet,
      get the visualization data in the proccess. Just fill out the form below and
      press submit to begin the Web Crawling Process.
      Please keep in mind that the process takes a while to finish depending on
      the number of web pages you requested.
    </p>
  </div>
  <div class="col-sm-12 col-lg-6 ml-auto mr-auto">
    <div class="card-body">
      <div class="card" >
        <div class="card-body">
          <form onsubmit="return showLoading()" action="/crawlresult" name="inputform">
            <label for="url">Starting URL</label><br>
            <input type="text" class="form-control input-pill" name="url" id="url" placeholder="https://google.com" required/>
            <br>
            <label for="depth">Depth</label><br>
            <input type="number" class="form-control input-pill" name="depth" id="depth" placeholder="0" required/>
            <br>
            <label for="total">Max Total Pages</label><br>
            <input type="number" class="form-control input-pill" name="total" id="total" placeholder="10" required/>
            <br>
            <input type="checkbox" data-toggle="toggle" data-onstyle="success" name="specific">
            <label for="specific">Crawl links within the same domain only</label><br><br>
            <button class="btn btn-primary" type="submit" id="submitButton">Submit</button>
            <div id="loading" style="display: none;"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block customscript %}
<script>
  function showLoading() {
    var x = document.getElementById("loading");
    if (x.style.display === "none") {
      x.style.display = "inline-block";
    }
    $('#submitButton').attr('disabled', 'disabled');

    return true;
  }
</script>
{% endblock %}
