{% extends 'base.html' %}

{% block htmlbody %}
<div class="col-md-12 ml-auto mr-auto">
    <div class="row" style="height: 50px"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="card card-round">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title">{{ total }} Pages</div>
                            <div class="card-tools">
                                <a target="_blank" href="static/results-{{ sid }}.wce" class="btn btn-info btn-round btn-sm mr-2" download>
                                    <span class="btn-label">
                                        <i class="la la-save"></i>
                                    </span>
                                    Save Full Results
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container" id="outline-container">
                            <div id="js_tree">
                                <ol>
                                    {% for url in urls %}
                                    <li id="{{ loop.index }}" class="url">{{ url }}</li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="card card-round">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title">Article Contents</div>
                            <div class="card-tools">
                                <a target="_blank" href="static/contents-{{ sid }}.html" class="btn btn-info btn-border btn-round btn-sm mr-2" download>
                                    <span class="btn-label">
                                        <i class="la la-cloud-download"></i>
                                    </span>
                                    Download Classified Contents
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container" id="content">
                            <p>Contents will be displayed here</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="golden-text">
    {% for text in data %}
    <div class="golds" id="gold{{ loop.index }}">{{ text|safe }}</div>
    {% endfor %}
</div>
{% endblock %}


{% block customscript %}
<script>
    $(document).ready(function(){
        $('.url').click(function() {
            var id = $(this).attr('id');
            var goldenHTML = $('#gold' + id).html();
            $('#content').html(goldenHTML)
        })
    });
</script>
{% endblock %}
