{% extends 'base.html' %}

{% block extractNav %} active{% endblock %}
{% block extractNavCurrent %}<span class="sr-only">(current)</span>{% endblock %}
{% block htmlbody %}
<div class="col-sm-12 col-lg-6 ml-auto mr-auto card">
  <div class="card-header">
    <h1>Web Extractor</h1>
    <p>This webtool enable you to get the article-like contents in the crawled
      web pages if any. Just fill the text area with the urls you want to extract, one url per line and
      press submit to begin the Web Extraction Process.
      Please keep in mind that the process takes a while to finish depending on
      the number of web pages you requested.</p>
  </div>
  <div class="col-11 ml-auto mr-auto">
    <div class="card-body">
      <div class="card" >
        <div class="card-body">
          <form onsubmit="return showLoading()" action="{{ url_for('extractresult') }}" method="post">
            <textarea name="urls" class="form-control" rows="20" cols="100" placeholder="https://google.com" wrap="off"></textarea>
            <br>
            <button class="btn btn-primary" type="submit" id="submitButton">Submit</button>
            <div id="loading" style="display: none;"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}

  {% block customscript %}
  <script>
    function showLoading() {
      var x = document.getElementById("loading");
      if (x.style.display === "none") {
        x.style.display = "inline-block";
      }
      var submitButton = document.getElementById("submitButton");
      submitButton.disabled = true;
      return true;
    }
  </script>
  {% endblock %}
