{% extends 'base.html' %}

{% block homeNav %} active{% endblock %}
{% block homeNavCurrent %}<span class="sr-only">(current)</span>{% endblock %}
{% block htmlbody %}
<!-- <body class="forms" style="background-image: url('{{ url_for('static', filename='bg.jpg') }}');">-->
<div class="col-sm-12 col-lg-6 ml-auto mr-auto card">
  <div class="card-header">
    <h1>Web Content Extractor</h1>
    <p>Welcome to Web Content Extractor.</p>
    <h3>What is this webtool about?</h3>
    <p>This webtool enable you to automate the process of crawling the internet,
      get the visualization data in the proccess, and get the article-like
      contents in the crawled web pages if any. Just fill out the form below and
      press submit to begin the Web Content Extraction Process.
      Please keep in mind that the process takes a while to finish depending on
      the number of web pages you requested.
    </p>
    <h3>How does it work?</h3>
    <p>The tool starts with crawling the web pages according to the given parameters and record
      the links between crawled webpages.
      Next, it will extract the contents of the crawled web pages.
      It will then filter out irrelevant web elements so that only article-like contents are kept.
      Finally, it will visualize the links between crawled web pages and display their
      article-like contents if exist
    </p>
    <p> If you just want to simply crawl a webpage and get its vizualization, please go to
      <a href="/crawl">Crawl and Visualize</a> page. If you have a list of webpages URL already and you
      just want to extract the article-like contents of those webpages, please go to
      <a href="/extract">Extract</a> page.
    </p>
  </div>
  <div class="col-sm-12 col-lg-6 ml-auto mr-auto">
    <div class="card-body">
      <div class="card" >
        <div class="card-body">
          <form onsubmit="return showLoading()" action="/result" name="inputform">
            <label for="url">Starting URL</label><br>
            <input type="text" class="form-control input-pill" name="url" id="url" placeholder="https://google.com" required/>
            <br>
            <label for="depth">Depth</label><br>
            <input type="number" class="form-control input-pill" name="depth" id="depth" placeholder="0" required/>
            <br>
            <label for="total">Max Total Pages</label><br>
            <input type="number" class="form-control input-pill" name="total" id="total" placeholder="10" required/>
            <br>
            <input type="checkbox" data-toggle="toggle" data-onstyle="success" name="specific">
            <label for="specific">Crawl links within the same domain only</label><br><br>
            <button class="btn btn-primary" type="submit" id="submitButton">Submit</button>
            <div id="loading" style="display: none;"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block customscript %}
<script>
  function showLoading() {
    var x = document.getElementById("loading");
    if (x.style.display === "none") {
      x.style.display = "inline-block";
    }
    var submitButton = document.getElementById("submitButton");
    submitButton.disabled = true;
    return true;
  }
</script>
{% endblock %}
