{% extends 'base.html' %}

{% block loadNav %} active{% endblock %}
{% block loadNavCurrent %}<span class="sr-only">(current)</span>{% endblock %}
{% block htmlbody %}
<!-- <body class="forms" style="background-image: url('{{ url_for('static', filename='bg.jpg') }}');">-->
<div class="col-sm-12 col-lg-6 ml-auto mr-auto card">
  <div class="card-header">
    <h1>Web Content Extractor</h1>
    <p>Welcome to Web Content Extractor.</p>
    <h3>What is this webtool about?</h3>
    <p>Please upload your saved files here in order to load and visualize it.
    </p>
  </div>
  <div class="col-sm-12 col-lg-6 ml-auto mr-auto">
    <div class="card-body">
      <div class="card" >
        <div class="card-body">
          <form onsubmit="return showLoading()" action="/loadresult" name="inputform" method="POST" enctype="multipart/form-data">
            <input type = "file" name = "file" />
            <button class="btn btn-primary" type="submit" id="submitButton">Submit</button>
            <div id="loading" style="display: none;"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block customscript %}
<script>
  function showLoading() {
    var x = document.getElementById("loading");
    if (x.style.display === "none") {
      x.style.display = "inline-block";
    }
    var submitButton = document.getElementById("submitButton");
    submitButton.disabled = true;
    return true;
  }
</script>
{% endblock %}
